/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  color: #a31515;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg);
  color: white;
  width: 100%;
  height: 100%;
}

:root {
  --main-color: #a32615;
  --second-color: #5e180e;
}

section {
  padding: 20px 10%;
  background-color: #e0827421;
}
::selection {
  color: #fdfbfb;
  background: var(--main-color);
}
/* Navbar */
img {
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fdfbfb;
  box-shadow: 0 4px 41px rgba(182, 82, 71, 0.377);
  padding: 8px 10%;
  transition: 0, 2s;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}
ul li ul.dropdown li {
  display: block;
}
ul li ul.dropdown {
  width: 100%;
  background: rgba(182, 82, 71, 0.377);
  position: absolute;
  z-index: 999;
  display: none;
  font-size: 20px;
}
ul li:hover {
  background: #ddd4d4b6;
}
ul li:hover ul.dropdown {
  display: block;
}
#menu-icon {
  font-size: 33px;
  cursor: pointer;
  z-index: 1001;
  display: none;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 10px;
}

/* Fake image */
.fakeimg {
  width: 100%;
  padding-left: 0.5px;
  padding-right: 0.5px;
}
.fakeimg image {
  align-items: center;
  padding-bottom: 1rem;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.card p {
  padding-top: 10px;
  text-align: justify;
}
.instagram {
  padding: 1rem 0 0.6rem;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* footer */
footer {
  background: #350707;
  padding-top: 50px;
  font-size: 16px;
}
.container {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.footer {
  width: 33.3%;
}
.footer-content h1 {
  text-align: center;
  font-size: 30px;
  color: #a31515;
  font-weight: 600;
  padding-bottom: 1rem;
}
.footer-content h1 span {
  color: #fff8f7;
}
.footer-content p {
  color: white;
  width: 190px;
  margin: auto;
  padding: 7px;
}
.footer-content p i {
  color: white;
  font-size: 25px;
}
.footer-content ul {
  text-align: center;
}
.list {
  padding: 0;
}
.list li {
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 3px;
  position: relative;
}
.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: white;
  transition-duration: 0.5s;
}
.list li:hover::before {
  width: 70px;
}
.social-icons {
  text-align: justify;
  padding: 0;
}
.social-icons li {
  display: inline-block;
  text-align: center;
  padding: 5px;
}
.social-icons i {
  color: #ccc;
  font-size: 25px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #a32615;
}
.social-icons i:hover {
  color: #a32615;
}
.btn-bar {
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}
.btn-bar p {
  margin: 0;
  font-size: 18px;
  padding: 7px;
  color: white;
}
